@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,500;1,400&display=swap');

.navColor {
  background-image: linear-gradient(15deg, #24094f 20%, #5733d0 100%);
  color: #fff;
}
#nav-item .nav-link {
  color: rgb(250, 250, 3);
  margin-left: 10px;
}
#nav-item :hover {
  color: rgb(19, 248, 19);
}
body {
  font-family: 'Prompt', sans-serif;
  background-color: #1d1b1b;
  color: #fff;
}
.container-fluid {
  padding-left: 3%;
  padding-right: 3%;
}
.card {
  /* border: 1px solid rgb(54, 241, 21); */
  border: none;
  border-radius: 15px;
}

.card-body {
  background-color: #1d1b1b;
  border: 1px solid #fff;
  border-radius: 15px;

  height: 135px;
}
.table thead th {
  font-size: 10px;
  text-align: center;
  font-weight: 300;
}

.led-green {
  margin: 5px auto;
  width: 12px;
  height: 12px;
  background-color: rgb(31, 255, 1);
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset rgb(140, 253, 48) 0 -1px 9px,
    rgb(38, 255, 0) 0 2px 12px;
}
.led-red {
  margin: 5px auto;
  width: 12px;
  height: 12px;
  background-color: rgb(253, 21, 21);
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset rgb(255, 25, 25) 0 -1px 9px,
    rgb(255, 23, 23) 0 2px 12px;
}

code {
  color: rgb(255, 53, 94);
  margin-left: 20px;
}
/* .led-yellow {
  margin: 5px auto;
  width: 12px;
  height: 12px;
  background-color: rgb(255, 238, 1);
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset rgb(251, 248, 31) 0 -1px 9px,
    rgb(251, 255, 21) 0 2px 12px;
} */
.led-blue {
  margin: 5px auto;
  width: 12px;
  height: 12px;
  background-color: rgb(1, 5, 255);
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset rgb(48, 68, 253) 0 -1px 9px,
    rgb(45, 30, 255) 0 2px 12px;
}
.button_relay {
  background-color: #6c007a;
  border-color: #6c007a;
  height: 25px;
  font-size: 12px;
}
